* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-cyan: #032830;
    --light-cyan: #e6f5f9;
    --light-purple: #6f42c1;
}

body {
    background-color: var(--bs-gray-900);
    color: var(--dark-cyan);
    font-family: 'Roboto', sans-serif;
}

.banner__title {
    color: var(--bs-cyan);
    text-shadow: 0 0 2px white;
}

.searchForm {
    display: flex;
}

.searchForm__line {
    color: white;
}

.error {
    max-width: max-content;
    padding: .5rem 2rem;
    text-align: justify;
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.card {
    background-color: var(--light-cyan);
    width: 270px;
}

.card-body {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya', serif;
}

.card-img-top, .card__no-img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    height: 170px;
    margin: 0 auto;
    width: auto;
}

.card__no-img{
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 112px;
}

.card-title {
    color: var(--light-purple);
    font-size: 1.4rem;
}

.card-text-not-available {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Roboto', sans-serif;
}

.card-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    display: -webkit-box; 
    font-style: italic;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.spinner {
    height: 5rem;
    width: 5rem;
}

@media(max-width: 770px) {
    .card {
        width: 70%;
    }
}

@media(max-width: 450px) {
    .card {
        width: 90%;
    }

    .searchForm {
        align-items: center;    
        flex-direction: column;
        gap: 1rem;
    }
}